<p> <table border="3">
<tr>
   <td valign="top"> sonar_params.pattern[0] </td>
   <td> <input width="100px" type="text" id="sonar_params_pattern_0_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[1] </td>
   <td> <input width="100px" type="text" id="sonar_params_pattern_1_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[2] </td>
   <td> <input width="100px" type="text" id="sonar_params_pattern_2_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[2]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[3] </td>
   <td> <input width="100px" type="text" id="sonar_params_pattern_3_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[3]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[4] </td>
   <td> <input width="100px" type="text" id="sonar_params_pattern_4_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[4]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[5] </td>
   <td> <input width="100px" type="text" id="sonar_params_pattern_5_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[5]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[6] </td>
   <td> <input width="100px" type="text" id="sonar_params_pattern_6_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[6]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[7] </td>
   <td> <input width="100px" type="text" id="sonar_params_pattern_7_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[7]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.x[0] </td>
   <td> <input width="100px" type="text" id="sonar_params_x_0_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.x[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.y[0] </td>
   <td> <input width="100px" type="text" id="sonar_params_y_0_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.y[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.theta[0] </td>
   <td> <input width="100px" type="text" id="sonar_params_theta_0_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.theta[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.x[1] </td>
   <td> <input width="100px" type="text" id="sonar_params_x_1_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.x[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.y[1] </td>
   <td> <input width="100px" type="text" id="sonar_params_y_1_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.y[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.theta[1] </td>
   <td> <input width="100px" type="text" id="sonar_params_theta_1_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.theta[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.x[2] </td>
   <td> <input width="100px" type="text" id="sonar_params_x_2_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.x[2]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.y[2] </td>
   <td> <input width="100px" type="text" id="sonar_params_y_2_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.y[2]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.theta[2] </td>
   <td> <input width="100px" type="text" id="sonar_params_theta_2_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.theta[2]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.x[3] </td>
   <td> <input width="100px" type="text" id="sonar_params_x_3_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.x[3]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.y[3] </td>
   <td> <input width="100px" type="text" id="sonar_params_y_3_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.y[3]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.theta[3] </td>
   <td> <input width="100px" type="text" id="sonar_params_theta_3_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.theta[3]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.x[4] </td>
   <td> <input width="100px" type="text" id="sonar_params_x_4_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.x[4]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.y[4] </td>
   <td> <input width="100px" type="text" id="sonar_params_y_4_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.y[4]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.theta[4] </td>
   <td> <input width="100px" type="text" id="sonar_params_theta_4_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.theta[4]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.x[5] </td>
   <td> <input width="100px" type="text" id="sonar_params_x_5_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.x[5]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.y[5] </td>
   <td> <input width="100px" type="text" id="sonar_params_y_5_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.y[5]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.theta[5] </td>
   <td> <input width="100px" type="text" id="sonar_params_theta_5_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.theta[5]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.x[6] </td>
   <td> <input width="100px" type="text" id="sonar_params_x_6_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.x[6]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.y[6] </td>
   <td> <input width="100px" type="text" id="sonar_params_y_6_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.y[6]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.theta[6] </td>
   <td> <input width="100px" type="text" id="sonar_params_theta_6_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.theta[6]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.x[7] </td>
   <td> <input width="100px" type="text" id="sonar_params_x_7_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.x[7]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.y[7] </td>
   <td> <input width="100px" type="text" id="sonar_params_y_7_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.y[7]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.theta[7] </td>
   <td> <input width="100px" type="text" id="sonar_params_theta_7_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.theta[7]')"/> SET</td>
</tr>
</table> </p>
